 <!-- <mat-sidenav-container>
   
  <app-top-nav></app-top-nav>

  <mat-sidenav #sidenav mode="over"color="primary">

    <mat-nav-list>

      <mat-list-item (click)="expanded=!expanded">
        Package
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="expanded" [ngStyle]="{'width.px':240,'margin-left.px':50}" routerLink="/sticker" (click)="sidenav.toggle()">
        Sticker
      </mat-list-item>
      <mat-list-item *ngIf="expanded" [ngStyle]="{'width.px':240,'margin-left.px':50}" routerLink="/label" (click)="sidenav.toggle()">
        Label
      </mat-list-item>
    </mat-nav-list>>

  </mat-sidenav>
  
  <router-outlet></router-outlet>

</mat-sidenav-container> -->

<clr-main-container class="main-container">
  <!-- <div class="alert alert-app-level alert-info" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <div class="alert-text">
                the website is a beta version
            </div>
        </div>
    </div>
    <button type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
</div> -->
  <clr-header class="header header-6">
    <div class="branding">
        <a routerLink="" class="nav-link">
            <clr-icon shape="vmw-app"></clr-icon>
            <span class="title">Support Center</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/quotation" class="nav-link"><span class="nav-text">Instant Quote</span></a>
        <a routerLink="/track" class="nav-link"><span class="nav-text">Track</span></a>
        <a routerLink="/documentation" class="nav-link"><span class="nav-text">Documentation</span></a>
        <a routerLink="/admin" class="nav-link"><span class="nav-text">Admin</span></a>

    </div>
    <form class="search">
      <label for="search_input">
          <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
  </form>
    <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
              <clr-icon shape="user"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a *ngIf="!currentUser" routerLink="/login" clrDropdownItem>Login</a>
              <a href="..." routerLink="/profile" clrDropdownItem>Profile</a>
              <a *ngIf="currentUser" (click)="logout()" clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
  </div>
  </clr-header>

  <router-outlet ></router-outlet>

</clr-main-container>