<!-- <app-top-nav></app-top-nav> -->
<mat-sidenav-container>
  <mat-toolbar class="top-nav" color="primary">

    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">Angular Material Demo</span>

  </mat-toolbar>
  <!-- Side Navagation -->
  <mat-sidenav #sidenav mode="over" color="primary">

    <mat-nav-list>

      <mat-list-item (click)="expanded=!expanded">
        Package
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="expanded" [ngStyle]="{'width.px':240,'margin-left.px':50}" routerLink="/sticker" (click)="sidenav.toggle()">
        Sticker
      </mat-list-item>
      <mat-list-item *ngIf="expanded" [ngStyle]="{'width.px':240,'margin-left.px':50}" routerLink="/label" (click)="sidenav.toggle()">
        Label
      </mat-list-item>
    </mat-nav-list>>

  </mat-sidenav>

  <!-- Side Navagation Content-->
  <router-outlet></router-outlet>

  <!-- <div fxFlex></div> -->
  <!-- <span class="version-info">Supported by Qingprint</span> -->
</mat-sidenav-container>