 <app-top-nav fxHide.gt-xs></app-top-nav>
 <mat-sidenav-container>
  <!-- Side Navagation -->
  <mat-sidenav #sidenav mode="over"color="primary">

    <mat-nav-list>

      <mat-list-item (click)="expanded=!expanded">
        Package
        <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
          expand_more
        </mat-icon>
      </mat-list-item>
      <mat-list-item *ngIf="expanded" [ngStyle]="{'width.px':240,'margin-left.px':50}" routerLink="/sticker" (click)="sidenav.toggle()">
        Sticker
      </mat-list-item>
      <mat-list-item *ngIf="expanded" [ngStyle]="{'width.px':240,'margin-left.px':50}" routerLink="/label" (click)="sidenav.toggle()">
        Label
      </mat-list-item>
    </mat-nav-list>>

  </mat-sidenav>
  
  <app-top-nav fxHide.xs></app-top-nav>
  <!-- Side Navagation Content-->
  <router-outlet></router-outlet>

  <!-- <div fxFlex></div> 
 <span class="version-info">Supported by Wizvision</span> -->
</mat-sidenav-container>