<router-outlet></router-outlet>
<!-- <main class="content-area">
      <router-outlet></router-outlet>
    </main> -->

<clr-vertical-nav [clr-nav-level]="2" *ngIf="true">
    <clr-vertical-nav-group routerLinkActive="active">
        <a routerLink="./Bag" hidden aria-hidden="true">
        </a>
        <clr-icon shape="tags" clrVerticalNavIcon></clr-icon>
        Bag
        <clr-vertical-nav-group-children *clrIfExpanded>
            <a clrVerticalNavLink routerLink="./plasticbag" routerLinkActive="active">
                Plastic Bag
            </a>
            <a clrVerticalNavLink routerLink="./paperbag" routerLinkActive="active">
                Paper Bag
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <clr-vertical-nav-group routerLinkActive="active">
        <a routerLink="./cup" hidden aria-hidden="true">
        </a>
        <clr-icon shape="tags" clrVerticalNavIcon></clr-icon>
        Cup
        <clr-vertical-nav-group-children *clrIfExpanded>
            <a clrVerticalNavLink routerLink="./papercup" routerLinkActive="active">
                Paper Cup
            </a>
            <a clrVerticalNavLink routerLink="./plasticcup" routerLinkActive="active">
                Plastic Cup
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <clr-vertical-nav-group routerLinkActive="active">
        <a routerLink="./placup" hidden aria-hidden="true">
        </a>
        <clr-icon shape="tags" clrVerticalNavIcon></clr-icon>
        PLA Cup
        <clr-vertical-nav-group-children *clrIfExpanded>
            <a clrVerticalNavLink routerLink="./plapapercup" routerLinkActive="active">
                Paper Cup
            </a>
            <a clrVerticalNavLink routerLink="./plaplasticcup" routerLinkActive="active">
                Plastic Cup
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
    <a clrVerticalNavLink routerLink="./notebook" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="tags"></clr-icon>
        Notebook
    </a>
    <a clrVerticalNavLink routerLink="./sticker" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="tags"></clr-icon>
        Sticker
    </a>
</clr-vertical-nav>


<!-- <clr-vertical-nav-group routerLinkActive="active">
    <a routerLink="./package" hidden aria-hidden="true">
    </a>
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    Package
    <clr-vertical-nav-group-children *clrIfExpanded="true">
        <a clrVerticalNavLink routerLink="./sticker" routerLinkActive="active">
            Sticker
        </a>
        <a clrVerticalNavLink routerLink="./label" routerLinkActive="active">
            Label
        </a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group> -->