.dox-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dox-header {
    padding-top: 18px;
    flex: 0 0 108px;
    padding-left: 36px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.dox-content {
    flex: 1 1 auto;
    overflow-y: scroll;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid transparent;
    height: 100%;
}
.dox-content-wrapper {
    padding-left: 36px;
    padding-top: 6px;
    padding-bottom: 96px;
    max-width: 900px;
    width: 100%;
}

.dox-tabs {
    padding-top: 12px;
}
.list-unstyled {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.dox-tabs ul {
    margin-top: 0;
    margin-bottom: 6px;
}