
<div class="dox-wrapper">
  <div class="dox-header">
      <h1>Label</h1>
  </div>
  <section class="dox-content">
    <div class="dox-content-wrapper">

    <h3>Get configuration from JSON file</h3>
    <div>
      <button mat-button (click)="clear(); showConfig()">get</button>
      <span *ngIf="config">
        <p>body is "{{config.id}}"</p>
        <p>body is "{{config.content}}"</p>
      </span>
    </div>
    <p *ngIf="error" class="error">{{error | json}}</p>
  </div>
  </section>
</div>
